---
services:
  app:
    build:
      context: ..
      dockerfile: deploys/Dockerfile
    container_name: nestjs-app
    ports: ['${PORT:-3000}:3000']
    env_file: .env
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: ${PORT}
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: ${DB_USER:?error}
      DB_PASS: ${DB_PASS:?error}
      DB_NAME: ${DB_NAME}
    depends_on: [postgres]
  postgres:
    image: postgres:16-alpine
    container_name: nestjs-postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes: [nestjs-postgres-db:/var/lib/postgresql/data]
    ports: ['${DB_PORT:-5432}:5432']
volumes:
  nestjs-postgres-db:
